@import "./utils/variables.scss";
@import "./components/body.scss";
@import "./components/navigation.scss";
@import "./components/order.scss";
@import "./components/modal.scss";
@import "./components/description.scss";
@import "./components/section-work.scss";
@import "./components/section-team.scss";
@import "./components/clienst.scss";
@import "./components/footer.scss";
@import "./components/portfolio-btns.scss";
@import "./components/portfolio-images.scss";
