.order {
  background-image: url(../images/picture-effective.jpg);
  width: 1600px;
  box-shadow: -1600px 22px 0px 1600px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: -1600px 22px 0px 1600px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: -1600px 22px 0px 1600px rgba(0, 0, 0, 0.5) inset;

  &__text {
    font-size: 44px;
    color: $whiteColor;
    line-height: 1.4;
    padding: 200px 452px 15px 452px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  &__button {
    font-size: 16px;
    font-weight: 500;
    font-weight: bold;
    line-height: 1.6;
    background-color: $blueColor;
    color: $whiteColor;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;
    margin: auto 700px 200px 700px;
  }
}

.btn-order {
  > li > button:hover {
    background-color: $blueColor;
    color: $whiteColor;
  }
}
