.portfolio__container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 1px 7px 18px -6px rgba(0, 0, 0, 0.52);
    -webkit-box-shadow: 1px 7px 18px -6px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 1px 7px 18px -6px rgba(0, 0, 0, 0.52);
  }

  .portfolio__overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    span {
      font-size: 18px;
      line-height: 1.5;
      text-align: left;
      padding: 40px;
    }
  }

  &:hover .portfolio__overlay {
    bottom: 0;
  }

  .portfolio__border-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
  }

  .portfolio__border-version {
    font-size: 16px;
    line-height: 1.9;
    color: rgba(117, 117, 117, 1);
  }
}
