///COLORS///
$blueColor: rgba(33, 150, 243, 1);
$whiteColor: rgba(236, 236, 236, 1);
$blackColor: rgba(33, 33, 33, 1);
$greyColor: rgba(117, 117, 117, 1);
$modalBackgroundColor: rgba(0, 0, 0, 0.5);
$borderBtnCloseColor: rgba(0, 0, 0, 0.1);
$borderInputColor: rgba(33, 33, 33, 0.2);
$enterTextColor: rgba(117, 117, 117, 0.5);
$teamBackgroundColor: rgba(245, 244, 250, 1);

///FONTS///
$mainFont: "Roboto", sans-serif;
$logoFont: "Raleway", sans-serif;

///SIZES///
$containerWidth: 1200px;

///EFFECTS///
$transitionTime: 250ms;
$transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);
